{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">

		<div class="col-lg-7 col-xl-6 col-xxl-4 col-sm-10 col-md-8 col-12  mx-auto mt-5 p-5 ">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que
					{{ app.user.user.email }},
					<a href="{{ path('app_logout') }}">Deconnecter</a>
				</div>
			{% endif %}


			<h3 class="h3 mb-3 font-weight-normal text-center text-info">Se Connecter</h3>
			<label for="inputEmail">Votre Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label class="mt-3" for="inputPassword">Votre mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
																																																																																										        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																										        See https://symfony.com/doc/current/security/remember_me.html
																																																																																										
																																																																																										        <div class="checkbox mb-3">
																																																																																										            <label>
																																																																																										                <input type="checkbox" name="_remember_me"> Remember me
																																																																																										            </label>
																																																																																										        </div>
																																																																																										    #}

			<button class="btn btn-lg btn-info text-white mt-4 w-100" type="submit">
				Sign in
			</button>
		</form>
	</div>
{% endblock %}
