{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}

	<div class="container text-center mt-4">
		<div class="d-flex justify-content-between mb-3  me-4">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a href="{{path('product_home')}}" class="nav-link active text-info" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product" type="button" role="tab" aria-controls="nav-product" aria-selected="true">All Products</a>
					{% for category in categories %}
						<a href="{{path('show_product_by_category', {'id': category.id} )}}" class="nav-link text-info" id="nav-{{ category.nom }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ category.nom }}" type="button" role="tab" aria-controls="nav-{{ category.nom }}" aria-selected="true">{{ category.nom }}</a>

					{% endfor %}
				</div>
			</nav>
			<div>
				<a href="{{path('panier_card')}}" class="btn btn-sm btn-info">
					<i class="bi bi-cart"></i>
					MON PANIER</a>

			</div>
		</div>

		<div class="tab-content mt-5" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
				<div class="d-flex flex-wrap">
					{% for product in products %}
						<div class="col g-1 mb-3">
							<div class="card shadow-sm" style="width: 18rem;">
								<div class"text-center">
									<img src="{{asset('uploads/images/products/'~ product.image ~'')}}" class="mt-3" width="150px" height="auto" alt="Product Photo">
								</div>
								<div class="card-body">
									<h5 class="card-title fw-bolder">{{ product.nom }}</h5>
									<p class="card-text fw-bolder text-info">{{ product.Prix|number_format(2, ',', '.')}}€</p>
									<a href="{{path('app_product_show', {'id': product.id} )}}" class="btn btn-sm btn-outline-info">Découvrez</a>
									<a href="{{path('addTo_panier', {'id': product.id})}}" class="btn btn-sm btn-info">Ajouter au Panier</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			{% for category in categories %}
				<div class="tab-pane fade" id="nav-{{ category.nom }}" role="tabpanel" aria-labelledby="nav-{{ category.nom }}-tab">
					<div class="d-flex flex-wrap">
						{% for product in products %}
							<div class="col g-1 mb-3">
								<div class="card shadow-sm" style="width: 18rem;">
									<div class"text-center">
										<img src="{{asset('uploads/images/products/'~ product.image ~'')}}" class="mt-3" width="150px" height="auto" alt="Product Photo">
									</div>
									<div class="card-body">
										<h5 class="card-title fw-bolder">{{ product.nom }}</h5>
										<p class="card-text fw-bolder text-info">{{ product.Prix|number_format(2, ',', '.')}}€</p>
										<a href="{{path('app_product_show', {'id': product.id} )}}" class="btn btn-sm btn-outline-info">Découvrez</a>
										<a href="{{path('addTo_panier', {'id': product.id})}}" class="btn btn-sm btn-info">Ajouter au Panier</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
